/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

// Define layer numbers
#define BASE 0
#define SYM 1
#define NUM 2
#define NAV 3
#define BLTH 4
#define GAMING 5


// ZMK includes
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Personal includes
#include "includes/settings.dtsi"
#include "includes/combos.dtsi"
#include "includes/behaviours_homerow_mods.dtsi"
#include "includes/behaviours_mod_morph.dtsi"
#include "includes/behaviours_other.dtsi"

// ZMK-locales includes
#include <locale/keys_de.h>

/ {

  keymap {
    compatible = "zmk,keymap";



    Base_layer {
      display-name = "Base";
      bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮    ╭────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┬────────────────────────┬────────────────────────╮
     &kp ESC                  &kp Q                    &kp W                    &kp E                    &kp R                    &kp T                         &kp DE_Z                 &kp U                    &kp I                    &kp O                   &kp P                    &kp DE_U_UMLAUT
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
     &mm_bspc_del             &hm_l LGUI A             &hm_l LALT S             &hm_l LCTRL D            &hm_shift_l LSHFT F      &kp G                         &kp H                    &hm_shift_r RSHFT J      &hm_r RCTRL K            &hm_r RALT L            &hm_r RGUI DE_O_UMLAUT   &kp DE_A_UMLAUT
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
     &td_shift_l              &kp DE_Y                 &kp X                    &kp C                    &kp V                    &kp B                         &kp N                    &kp M                    &kp DE_COMMA             &kp DE_DOT              &kp DE_MINUS             &kp UNDERSCORE
// ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────╯
                                                                                &kp TAB                  &lt_num_word NUM NUM     &kp LSHFT                     &mo SYM                  &kp SPACE                &mo NAV
//                                                                            ╰────────────────────────┴────────────────────────┴────────────────────────╯    ╰────────────────────────┴────────────────────────┴────────────────────────╯
      >;
    };    

    Sym_layer {
      display-name = "Sym";
      bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮    ╭────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┬────────────────────────┬────────────────────────╮
     &kp ESC                  &kp DE_A_UMLAUT          &kp DE_A_UMLAUT          &kp E                    &kp R                    &kp T                         &kp DE_Z                 &kp U                    &kp I                    &kp O                   &kp P                    &kp DE_U_UMLAUT
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
     &mm_bspc_del             &hm_l LGUI A             &hm_l LALT S             &hm_l LCTRL D            &hm_shift_l LSHFT F      &kp G                         &kp H                    &hm_shift_r RSHFT J      &hm_r RCTRL K            &hm_r RALT L            &hm_r RGUI DE_O_UMLAUT   &kp DE_A_UMLAUT
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────┤
     &td_shift_l              &kp DE_Y                 &kp X                    &kp C                    &kp V                    &kp B                         &kp N                    &kp M                    &kp DE_COMMA             &kp DE_DOT              &kp DE_MINUS             &kp UNDERSCORE
// ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┼────────────────────────┼────────────────────────╯
                                                                                &kp TAB                  &kp ENTER                &kp LSHFT                     &lt_num_word NUM NUM     &kp SPACE                &mo NAV
//                                                                            ╰────────────────────────┴────────────────────────┴────────────────────────╯    ╰────────────────────────┴────────────────────────┴────────────────────────╯
      >;
    };    

    Num_layer {
      display-name = "Num";
      bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
     &kp ESC                  &kp TILDE                &kp N7                   &kp N8                   &kp N9                   &kp LBRC                      &kp RBRC                 &kp MINUS                &kp UP                   &kp PLUS                 &trans                   &trans
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
     &mm_bspc_del             &trans                   &kp N4                   &kp N5                   &kp N6                   &kp LPAR                      &kp RPAR                 &hm_shift_r RSHFT LEFT   &hm_r RCTRL DOWN         &hm_r RALT RIGHT         &hm_r RGUI SEMI          &trans
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
     &td_shift_l              &trans                   &kp N1                   &kp N2                   &kp N3                   &kp LBKT                      &kp RBKT                 &trans                   &trans                   &trans                   &trans                   &trans
// ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┴────────────────────────┼────────────────────────╯
                                                                                &kp N0                   &kp ENTER                &kp LSHFT                     &trans                   &kp SPACE                &kp TAB
//                                                                            ╰────────────────────────┴────────────────────────┴────────────────────────╯    ╰────────────────────────┴────────────────────────┴────────────────────────╯
      >;
    };    

    Nav_layer {
      display-name = "Nav";
      bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
     &kp ESC                  &kp F9                   &kp F10                  &kp F11                  &kp F12                  &kp C_VOL_UP                  &to BASE                 &kp C_PP                 &kp UP                   &kp INSERT               &kp HOME                 &kp PAGE_UP
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
     &mm_bspc_del             &kp F5                   &kp F6                   &kp F7                   &kp F8                   &kp C_VOL_DN                  &to GAMING               &kp LEFT                 &kp DOWN                 &kp RIGHT                &kp END                  &kp PAGE_DOWN
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
     &kp LSHFT                &kp F1                   &kp F2                   &kp F3                   &kp F4                   &kp C_MUTE                    &to BLTH                 &kp PSCRN                &kp SLCK                 &kp PAUSE_BREAK          &kp KP_NUMLOCK           &kp LEFT_GUI
// ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┴────────────────────────┼────────────────────────╯
                                                                                &kp TAB                  &kp ENTER                &kp LSHFT                     &trans                   &kp SPACE                &trans
//                                                                            ╰────────────────────────┴────────────────────────┴────────────────────────╯    ╰────────────────────────┴────────────────────────┴────────────────────────╯
      >;
    };

    BT_layer {
      display-name = "Bluetooth";
      bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
     &trans                   &trans                   &trans                   &trans                   &trans                   &trans                        &to BASE                 &trans                   &trans                   &trans                   &trans                   &trans
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
     &trans                   &trans                   &trans                   &trans                   &trans                   &trans                        &bt BT_CLR               &bt BT_SEL 0             &bt BT_SEL 1             &bt BT_SEL 2             &bt BT_SEL 3             &bt BT_SEL 4
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
     &trans                   &trans                   &trans                   &trans                   &trans                   &trans                        &bt BT_CLR_ALL           &bt BT_DISC 0            &bt BT_DISC 1            &bt BT_DISC 2            &bt BT_DISC 3            &bt BT_DISC 4
// ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┴────────────────────────┼────────────────────────╯
                                                                                &trans                   &trans                   &trans                        &bt BT_NXT               &bt BT_PRV               &trans
//                                                                            ╰────────────────────────┴────────────────────────┴────────────────────────╯    ╰────────────────────────┴────────────────────────┴────────────────────────╯
      >;
    };  

    Gaming_layer {
      display-name = "Gaming";
      bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
     &kp ESCAPE               &kp N1                   &kp N2                   &kp N3                   &kp N4                   &kp N5                        &to BASE                 &trans                   &trans                   &trans                   &trans                   &trans
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
     &kp TAB                  &kp CAPS                 &kp Q                    &kp W                    &kp E                    &kp R                         &trans                   &trans                   &trans                   &trans                   &trans                   &trans
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
     &kp LCTRL                &kp LSHFT                &kp A                    &kp S                    &kp D                    &kp F                         &trans                   &trans                   &trans                   &trans                   &trans                   &trans
// ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┤    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┴────────────────────────┼────────────────────────╯
                                                                                &kp LALT                 &kp C                    &kp SPACE                     &trans                   &trans                   &trans
//                                                                            ╰────────────────────────┴────────────────────────┴────────────────────────╯    ╰────────────────────────┴────────────────────────┴────────────────────────╯
      >;
    }; 

  };

};
